<div class="welcome">Please Enter your Information</div>
<div class="register">
    <div class="box">
        <div>
            <input type="text" placeholder="Name">
        </div>
        <div>
            <input type="text" placeholder="Lastname">
        </div>
        <div>
            <input type="text" placeholder="Phone">
        </div>
        <div>
            <input type="text" placeholder="Email">
        </div>
        <div>
            <button>Login</button>
        </div>
    </div>
</div>

